.c-sm-fs {
  font-size: 10px;
}
.c-input_border {
  border-bottom: 1px solid #f4f4f8;
  padding: 6px 8px;
}

.c-main {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.c-textbox {
  text-align: center;
  margin-bottom: 50px;
}
.c-title {
  font-size: 24px;
}
.c-desc {
  
}
.c-input {
  background-color: #fff;
  width: 560px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 10%);
  padding: 45px 35px;
}
.c-input_item {
  margin-bottom: 30px;
}
.c-input_item-w {
  width: 47%;
}
.c-input_item-title {
  font-size: 10px;
  margin-bottom: 10px;
}
.c-input_item-form input {
  background-color: #f4f4f8;
  padding: 10px;
  width: 100%;
  border-radius: 2px;
}
.c-input-submit {
  width: 230px;
  margin: 0 auto;
  background-color: #2237df;
  color: #fff!important;
  font-weight: 600;
  padding: 10px 0;
  display: block;
  margin-top: 50px;
  border-radius: 2px;
}

.c-forms_main {
  height: calc(100vh - 111px);
}
.c-forms_side-bar {
  height: 100%;
  width: 400px;
  background-color: #fff;
  transition: .3s;
}
.c-forms_container {
  padding: 30px 30px 0 30px;
  width: calc(100% - 400px);
  height: 100%;
  background-color: #f4f4f8;
  transition: .3s;
}

.c-main-form-inner {
  margin: auto;
  padding: 150px 0;
}

.c-main-form-edit-contents {
  width: 100%;
  height: 100%;
  outline: 1px solid #c8c8c8;
  border-radius: 5px;
}
.c-main-form-edit-contents-inner {
  margin: auto;
  padding-top: 100px;
}
.c-form-group {
  margin-bottom: 20px;
}
.c-form-group-item-sub {
  width: 47%;
}
.c-form-group-item-label-flex {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.c-form-group-item-label {
  font-size: 10px;
  margin-bottom: 0!important;
  margin-right: 10px;
}
.c-form-group-item-val {
  color: #fff;
  display: inline-block;
  padding: 4px 8px;
  font-size: 10px;
  font-weight: 600;
  border-radius: 3px;
  line-height: 1;
  background-color: rgb(96, 125, 139);
}

.c-form-group-item {
  position: relative;
}
.c-form-group-item-overray {
  position: absolute;
  width: calc(100% + 30px);
  height: calc(100% + 30px);
  top: 0;
  left: -15px;
  bottom: 0;
  right: 0;
  margin: auto;
  opacity: 0;
}
.c-form-group-item-overray:hover {
  opacity: 1;
  background-color: rgba(127, 165, 198, 0.3);
  border: 1px solid #3042cc;
  cursor: pointer;
  border-radius: 5px;
}
.c-form-group-item-overray-sub {
  position: relative;
}
.c-form-group-item-overray-icon {
  position: absolute;
  top: -21px;
  right: 0;
}



.c-form_edit_style_design-btn {
  width: 100%;
  box-shadow: none!important;
  border: 1px solid #c8c8c8;
  height: 44px;
  padding: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.c-form_edit_style_design-btn-shape {
  width: 100%;
  height: 20px;
}
.shape--type1 {
  background-color: #f4f4f8;
}
.shape--type2 {
  background-color: #f4f4f8;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
}
.shape--type3 {
  background-color: #fff;
  border: 1px solid #c8c8c8;
}
.shape--type4 {
  background-color: #fff;
  border: 1px solid #c8c8c8;
  border-radius: 3px;
}

.inline-radio {
  overflow: hidden;
  div {
    position: relative;
  }
  input {
    width: 100%;
    height: 60px;
    opacity: 0;
  }
  label {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    pointer-events: none;
  }
  input:checked + label .c-form_edit_style_design-btn {
    border: 1px solid #3042cc;
  }
}





.c-form_edit_style-color-picker {
  width: 30px;
  height: 34px;
  display: block;
}
.c-form_edit_style_color-inp {
  width: 110px;
}
.c-form_edit_style-select {
  width: 100%;
}



.customers-list-tab-active {
  background-color: #f3f3f7;
  border-radius: 100px;
}
.c-customers-board-col {
  min-width: 300px;
  height: 100%;
  padding: 0 14px;
}
.c-customers-list-head {
  background-color: #495963;
  color: #fff;
}
.c-customers-list-body {
  background-color: #fff;
}
.c-customers-list-input {
  width: 100%;
  padding: 10px;
}
.c-customers-list-item {
  min-width: 100px;
  max-width: 350px;
  overflow: hidden;
  text-overflow: ellipsis;
  // padding: 10px;
  white-space: nowrap;
}

table {
  border: 1px solid #ccc;
  border-collapse: collapse
}




// さまざまなinput typeのスタイル
.c-form-group-item-inp-frame {
  
}
.c-form-group-item-inp-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 8px 0;
  justify-content: space-between;
  align-items: center;
}

.c-form-group-item-inp {
  padding: 10px;
  font-size: 12px;
  display: block;
}
.c-form-group-item-inp input {
  margin-right: 10px;
  vertical-align: text-top;
}
.c-form-group-item-inp.type--1 {
  width: 100%;
}
.c-form-group-item-inp.type--2 {
  width: 49%;
}


.inp--type1 {
  background-color: #f4f4f8!important;
}
.inp--type2 {
  background-color: #f4f4f8!important;
  border-radius: 3px!important;
  border: 1px solid #c8c8c8!important;
}
.inp--type3 {
  background-color: #fff!important;
  border: 1px solid #c8c8c8!important;
}
.inp--type4 {
  background-color: #fff!important;
  border-radius: 3px!important;
  border: 1px solid #c8c8c8!important;
}

// さまざまなinput typeのスタイル



.c-forms-select-item-edit.active {
  transform: translateX(0px);
}
.c-forms-select-item-edit {
  position: fixed;
  top: 112px;
  z-index: 999;
  background-color: #fff;
  width: 400px;
  height: calc(100vh - 112px);
  transform: translateX(-400px);
  border-right: 1px solid #c8c8c8;
  transition: .3s;
}
.c-forms-select-item-edit-nav {
  background-color: #f3f3f7;
  border-top: 1px solid #c8c8c8;
  border-bottom: 1px solid #c8c8c8;
}
.c-forms-select-item-edit-main {
  padding: 30px 36px;
  height: 100%;
  overflow: auto;
}
.c-forms-select-item-edit-main-item {
  margin-bottom: 25px;
}





.c-workflow-vertical-line {
  width: 2px;
  height: 80px;
  position: relative;
  background-color: #808080;
}
.c-workflow-vertical-line-plus-icon {
  position: absolute!important;
  top: 0;
  left: -21px;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #c7c7c7;
}

.c-workflow-trash-btn {
  position: absolute!important;
  top: -18px;
  right: -20px;
  opacity: 0;
  transition: .3s;
  z-index: 500;
}

.workflow-main-card:hover .c-workflow-trash-btn  {
  opacity: 1;
}
.workflow-main-card:hover {
  outline: 1px solid #3042cc!important;
}
