main {
  color: #606060;
}

*{
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", sans-serif;
}


.shape-test {
  width: 55px;
  height: 55px;
  background-color: #f4f4f8;
  border-radius: 100px;
}
