.c-font-10 {
  font-size: 10px!important;
}
.w-100 {
  width: 100%;
}
.required {
  background-color: #e91c24!important;
}
.c-bd-top {
  border-top: 1px solid #c7c7c7!important;
  border-color: #c7c7c7!important;
}
.c-bd-right {
  border-right: 1px solid #c7c7c7;
  border-color: #c7c7c7!important;
}
.c-bd-bottom {
  border-bottom: 1px solid #c7c7c7;
  border-color: #c7c7c7!important;
}
.c-bd-left {
  border-left: 1px solid #c7c7c7;
  border-color: #c7c7c7!important;
}
.c-bd-all {
  border: 1px solid #c7c7c7;
  border-color: #c7c7c7!important;
}
.shadow-none {
  box-shadow: none!important;
}
.text-center {
  text-align: center;
}
.position-relative {
  position: relative;
}
